Repository tdg5/hello-world-service-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, safety-production-dependencies-check

.pre-commit-config.yaml:

exclude: 'docs|.git|.tox'
default_stages: [ commit ]
default_language_version:
  python: python3.9
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: [ "hello_world_api_py", "hello_world_api_py_test" ]
        types: [ python ]
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        args: [ "hello_world_api_py", "hello_world_api_py_test" ]
        types: [ python ]
        additional_dependencies:
          - darglint
          - dlint
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-spellcheck
          - flake8-typing-imports
          - mccabe
          - pep8-naming
      - id: mypy
        name: Mypy check
        entry: mypy
        language: system
        args: [ "hello_world_api_py", "hello_world_api_py_test" ]
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        args: [ "hello_world_api_py", "hello_world_api_py_test" ]
        language: system
      - id: safety-production-dependencies-check
        name: Safety production dependencies check
        entry: safety
        args: [ check, --policy-file=.safety-policy.yml, --full-report, --file]
        language: system
        files: requirements.txt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]
      - id: end-of-file-fixer
        exclude: README.md|VERSION
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: [ '--pytest-test-first' ]
        exclude: factories.py
      - id: requirements-txt-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-toml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-ast
      - id: check-symlinks

[skip actions] Increment version for next development cycle
  VERSION
Due: none

Add basic Config class
  bin/run-local
  hello_world_api_py/app/config.py
  hello_world_api_py_test/app/config_test.py
  requirements.txt
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Add basic Application class with dummy API entry point
  bin/run-local
  dev/config.yaml
  hello_world_api_py/app/application.py
  hello_world_api_py/app/entry_points/__init__.py
  hello_world_api_py/app/entry_points/api.py
  hello_world_api_py/entry.py
  hello_world_api_py/main.py
  hello_world_api_py_test/app/application_test.py
  hello_world_api_py_test/app/config_test.py
  hello_world_api_py_test/main_test.py
  hello_world_api_py_test/test_helpers/__init__.py
  hello_world_api_py_test/test_helpers/factories.py
  hello_world_api_py_test/test_helpers/fixtures.py
  requirements.txt
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Port Main logic to service_oriented.application.GenericMain
  hello_world_api_py/main.py
  hello_world_api_py_test/main_test.py
  requirements.txt
  setup.py
Due: black, flake8, safety-production-dependencies-check

Add RootContainer and some basic logging setup
  dev/config.yaml
  dev/logging_config.yaml
  hello_world_api_py/app/config.py
  hello_world_api_py/app/containers/__init__.py
  hello_world_api_py/app/containers/root_container.py
  hello_world_api_py/app/entry_points/api.py
  hello_world_api_py_test/app/config_test.py
  requirements.txt
  setup.py
Due: black, flake8, safety-production-dependencies-check

Target python 3.11 in Dockerfile because dependency-injector doesn't work otherwise
  Dockerfile
Due: none

Other fixes to make running from docker work
  Dockerfile
  bin/docker-run-local
Due: none

run-local script should use dev config by default
  bin/run-local
Due: none

Replace dependency-injector with rudimentary container
  Dockerfile
  hello_world_api_py/app/container.py
  hello_world_api_py/app/containers/__init__.py
  hello_world_api_py/app/containers/root_container.py
  hello_world_api_py/app/entry_points/api.py
  requirements.txt
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Update author email and name associated with automated commits
  .github/workflows/main-build-and-publish.yml
Due: none

Upgrade cryptography to address vulnerability
  requirements.txt
Due: safety-production-dependencies-check

Fix spelling of spamburglar
  .github/workflows/main-build-and-publish.yml
Due: none

Clean up style of .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Extend github workflows with check to make sure requirements.txt is up to date
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
Due: none

Move setup.cfg configs to pyproject.toml and replace pytest-watch with pytest-watcher
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
Due: black, flake8, safety-production-dependencies-check

Move setup.py configs to pyproject.toml
  .github/workflows/main-build-and-publish.yml
  .github/workflows/other-check-quality-and-tests.yml
  .gitignore
  Dockerfile
  MANIFEST.in
  pyproject.toml
  requirements.txt
  setup.py
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Stop tracking version and add action to explicitly handle releases
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  .pre-commit-config.yaml
  VERSION
  bin/docker-build
  bin/docker-run-local
  bin/print-version
  bin/run-local
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

Upgrade service-oriented and add rodi for DI
  hello_world_api_py/app/container.py
  hello_world_api_py/app/entry_points/api.py
  pyproject.toml
  requirements.txt
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Don't run build as part of github workflows
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
Due: none

Add fallback to print-version script
  bin/print-version
Due: none

[skip actions] Update code coverage snapshot
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
Due: none

Fix handling of version in release workflow
  .github/workflows/release.yaml
Due: none

Cache pip dependencies in github workflows
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
Due: none

Broken commit to keep file histories while renaming to hello_world_service_py
  hello_world_service/__init__.py
  hello_world_service/app/application.py
  hello_world_service/app/config.py
  hello_world_service/app/entry_points/__init__.py
  hello_world_service/app/entry_points/api.py
  hello_world_service/main.py
  hello_world_service_test/__init__.py
  hello_world_service_test/app/application_test.py
  hello_world_service_test/app/config_test.py
  hello_world_service_test/import_test.py
  hello_world_service_test/test_helpers/__init__.py
  hello_world_service_test/test_helpers/factories.py
  hello_world_service_test/test_helpers/fixtures.py
Due: black, flake8

Finish renaming to hello-world-service
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
  .gitignore
  .meta/coverage/report.txt
  .pre-commit-config.yaml
  Dockerfile
  README.md
  bin/docker-build
  bin/docker-run-local
  bin/run-local
  hello_world_service/app/application.py
  hello_world_service/app/config.py
  hello_world_service/app/entry_points/api.py
  hello_world_service/main.py
  hello_world_service_test/app/application_test.py
  hello_world_service_test/app/config_test.py
  hello_world_service_test/import_test.py
  hello_world_service_test/test_helpers/__init__.py
  hello_world_service_test/test_helpers/factories.py
  pyproject.toml
Due: black, flake8

[skip actions] Update code coverage snapshot
  .meta/coverage/report.txt
Due: none

Add badges to README
  README.md
Due: none

Add test for ApiEntryPoint
  hello_world_service/app/application.py
  hello_world_service/app/entry_points/api_entry_point.py
  hello_world_service_test/app/entry_points/api_entry_point_test.py
  hello_world_service_test/test_helpers/factories.py
  hello_world_service_test/test_helpers/fixtures.py
  hello_world_service_test/test_helpers/fixtures/__init__.py
  hello_world_service_test/test_helpers/fixtures/logging_config.yaml
  pyproject.toml
  requirements.txt
  whitelist.txt
Due: black, flake8, safety-production-dependencies-check

Only run coverage for source directory
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  pyproject.toml
Due: none

Don't include __version__.py in coverage and test Main
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  hello_world_service/main.py
  hello_world_service_test/app/main_test.py
  pyproject.toml
Due: black, flake8

Fix typo
  .github/workflows/release.yaml
Due: none

Remove extraneous logger
  hello_world_service/app/entry_points/api_entry_point.py
Due: black, flake8
